/* 
    Document   : main
    Created on : 5-Sep-2011, 8:26:28 PM
    Author     : detriusxiiuser
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
body {
    background-color: grey;
}

.header {
    width: 100%;
    background-color: green;
}

.header > ul {
    margin-left: 15%;
}

.header ul li {
    display: inline-block;
    font-size: xx-large;
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 100px;
    vertical-align: top;
}

.header ul li.selected {
    color: gold;
}

.header ul li.clicked {
    color: crimson;
}

.body {
    width: 70%;
    padding-left: 15%;
    font-size: xx-large;
}

.panel {
    border: 2px;
    border-color: black;
    border-style: solid;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 2px;
    background-color: #f3ce75;
}

.gamePanel.selected {
    background-color: #fd7318;
}

.gamePanel.clicked {
    background-color: #c44e00;
}

.footer {
    width: 100%;
    background-color: red;
}
