@(gameScreenURL: String, games: Iterable[com.squeryl.jdip.tables.Game])
@main(title = "Games") {
<div class="body">
    <ul>
        @games.map {game =>
        <li>
            <a href="@gameScreenURL/@game.id">
                <div class="gamePanel panel">
                    Game name: <span class="id">@game.id</span> Game state: @game.gameState<br />
                    Year: game.gameYear Season: game.season Phase: game.phase
                </div>
            </a>
        </li>
        }
    </ul>
</div>
}