@(preparedTableRows: List[scala.xml.Elem],
	potentialMoveOrders: List[com.squeryl.jdip.tables.PotentialMoveOrder],
	potentialSupportHoldOrders: 
	  List[com.squeryl.jdip.tables.PotentialSupportHoldOrder],
	potentialSupportMoveOrders: 
	  List[com.squeryl.jdip.tables.PotentialSupportMoveOrder],
	convoysMap: List[com.squeryl.jdip.tables.PotentialConvoyOrder],
	mapElement: String)
@import com.squeryl.jdip.tables.OrderType
@import com.squeryl.jdip.tables.UnitType
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
	"http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:svg="http://www.w3.org/2000/svg" 
      xmlns:xlink="http://www.w3.org/1999/xlink">
<body>
<div style="margin: 0px auto;">
	@Html(mapElement)
</div>
<table style="margin: 0px auto;">
	<thead>
		<tr>
			<td>Unit Type</td>
			<td>Unit Location</td>
			<td>Action</td>
			<td>Target Location</td>
			<td>Source Location</td>
		</tr>
	</thead>
	@preparedTableRows
</table>
</body>
<script type="text/javascript" src="/public/javascripts/jquery-1.5.1.js">
</script>
<script type="text/javascript">

	function wrapTextInSelectWithName(text, name) {
		return "<select name=" + name + ">" + text + "</select>";
	}
	
	function wrapTextInOption(text) {
		return "<option>" + text + "</option>";
	}
	
	function createBasicOrder(unitID, orderSelector, targetLocationSelector) {
		var children = $(orderSelector).children();
		var optionElements = children.map(function() {
			return wrapTextInOption(this.textContent);
		}).get().join("");
		var selectElement = wrapTextInSelectWithName(optionElements, unitID + "-target");
		$(targetLocationSelector).html(selectElement);
	}
	
	function createAdvancedOrder(ordersSelector, sourceLocationSelector, 
								targetLocationSelector,
								unitID) {
		var childLists = $(ordersSelector);
		var optionElements = childLists.map(function() {
			return wrapTextInOption(this.className);
		}).get().join("");
		var selectElement = wrapTextInSelectWithName(optionElements, unitID + "-source");
		$(sourceLocationSelector).html(selectElement);
		$(sourceLocationSelector + " select").change(function() {
			var value = $(this).val();
			
			var targetListItemsSelector =
				".supportMoveOrders ul." + unitID + " ul." + value + " li";
			var selectedItem = $(targetListItemsSelector);
			var optionElements = $(targetListItemsSelector).map(function() {
				return wrapTextInOption(this.textContent);
			}).get().join("");
			
			var selectElement = wrapTextInSelectWithName(optionElements, unitID + "-target");
			$(targetLocationSelector).html(selectElement);
		});
		
		var value = $(sourceLocationSelector + " select").val();
		if (value != null && value.length > 0) {
			var targetListItemsSelector =
				".supportMoveOrders ul." + unitID + " ul." + value + " li";
			var optionElements = $(targetListItemsSelector).map(function() {
				return wrapTextInOption(this.textContent);
			}).get().join("");
			
			var selectElement = wrapTextInSelectWithName(optionElements, unitID + "-target");
			$(targetLocationSelector).html(selectElement);
		}
	}

	$(document).ready(function() {
		$(".orderSelect").change(function() {
			var id = this.parentElement.parentElement.id;
			var idSelector = "#" + id;
			var targetLocationSelector = idSelector + " .targetLocation";
			var sourceLocationSelector = idSelector + " .sourceLocation";
			
			$(targetLocationSelector).empty();
			$(sourceLocationSelector).empty();
			
			var moveOrdersSelector = ".moveOrders ul." + id;
			var supportHoldOrdersSelector = ".supportHoldOrders ul." + id;
			var supportMoveOrdersSelector = ".supportMoveOrders ul." + id + " ul";
			var convoyOrdersSelector = ".convoyOrders ul." + id + " ul";
			
			switch($(this).val()) {
				case "Hold": {
					break;
				}
				case "Move": {
					createBasicOrder(id, moveOrdersSelector, targetLocationSelector);
					break;
				}
				case "Support Hold": {
					createBasicOrder(id, supportHoldOrdersSelector, targetLocationSelector);
					break;
				}
				case "Support Move": {
					createAdvancedOrder(supportMoveOrdersSelector, 
										sourceLocationSelector,
										targetLocationSelector,
										id);
					break;
				}
				case "Convoy": {
					createAdvancedOrder(convoyOrdersSelector, 
										sourceLocationSelector,
										targetLocationSelector,
										id);
					break;
				}
			}
			
			
		});
	});
</script>
</html>
