@(potentialMoveOrders: play.api.libs.json.JsValue,
  potentialSupportHoldOrders: play.api.libs.json.JsValue,
  potentialSupportMoveOrders: play.api.libs.json.JsValue,
  potentialConvoyOrders: play.api.libs.json.JsValue,
  uniqueProvinceNames: play.api.libs.json.JsValue) 
@import com.squeryl.jdip.tables.OrderType
@import com.squeryl.jdip.tables.UnitType
@import controllers.GameScreenController  
{
<script type="text/javascript">
	function getUniqueProvinceNames() {
		return @Html(uniqueProvinceNames.toString);
	}
	
	function getBasicHeading(id) {
		return "<tr class='heading " + id + "'>" + 
			"<td></td><td></td><td></td><td>Target</td><td></td></tr>";
	}
	
	function getAdvancedHeading(id) {
		return "<tr class='heading " + id + "'>" +
			"<td></td><td></td><td></td><td>Source</td><td>Target</td></tr>"
	}
	
	function getPotentialMoveOrders() {
		return @Html(potentialMoveOrders.toString);
	}
	
	function getPotentialSupportHoldOrders() {
		return @Html(potentialSupportHoldOrders.toString);
	}
	
	function getPotentialSupportMoveOrders() {
		return @Html(potentialSupportMoveOrders.toString);
	}
	
	function getPotentialConvoyOrders() {
		return @Html(potentialConvoyOrders.toString);
	}
	
	function createClassName(name) {
		return "." + name;
	}
	
	function getBasicOrdersForId(id, orders) {
		return orders.filter(function(order) {
			return order.@GameScreenController.DIPLOMACY_UNIT_ID === id;
		});
	}
	
	function getAdvancedOrdersForId(id, orders) {
		return orders.filter(function(order) {
			return order.@GameScreenController.DIPLOMACY_UNIT_ID === id;
		});
	}
	
	function removeHeading(id) {
		$(".heading." + id).remove();
	}
	
	function createBasicOrder(id, 
			orders, targetLocationSelector, orderType) {
		var basicOrdersForId = getBasicOrdersForId(id, orders);
		var basicHeading = getBasicHeading(id);
		
		var optionElements = transformBasicOrdersIntoElements(basicOrdersForId);
		var selectElement = document.createElement("select");
		document
		selectElement.setAttribute("name", 
				"@MovementPhaseOrderHandler.SOURCE_PREFIX" + id);
		selectElement.className = "@GameScreenController.TARGET_SELECT";
		optionElements.forEach(function(optionElement) {
			selectElement.appendChild(optionElement);
		});
		
		$(selectElement).change(function() {
			var value = this.value;
			
			$(".orderDrawing-" +id).remove();
			prepareBasicGraphic(id, orderType);
		});
		
		$("#" + id).before(basicHeading);
		if (optionElements.length > 0) {
			$(targetLocationSelector).append(selectElement);
		} else {
			$(targetLocationSelector).append(emptyTargetMessage);
		}
		
		prepareBasicGraphic(id, orderType);
		
	}
	
	function prepareAdvancedGraphic(id, orderType) {
		var sourceName = $("#" + id + 
				" .@GameScreenController.PRESENTATION_NAME").text();
		var supportName = 
			$("#" + id + " .@GameScreenController.SUPPORT_SELECT").
			map(function(idx, selectElement) {
				return selectElement.options[selectElement.selectedIndex];
			}).text();
		var targetName =
			$("#" + id + " .@GameScreenController.TARGET_SELECT").
			map(function(idx, selectElement) {
				return selectElement.options[selectElement.selectedIndex];
			}).text();
			
		var graphicOption = null;
		switch(orderType) {
			case "@OrderType.SUPPORT_MOVE": {
				graphicOption = getSupportMoveOrderOption(sourceName, 
						supportName, targetName, "strokefrance");
				break;
			}
			case "@OrderType.CONVOY": {
				graphicOption = getConvoyOrderOption(sourceName, 
						supportName, 
						targetName, "strokefrance");
				break;
			}
		}
		
		graphicOption.map(function(graphic) {
			var svgElement = document.getElementsByTagName("svg")[0];
			graphic.setAttribute("class", "orderDrawing-" + id);
			svgElement.getElementById("OrderLayer").appendChild(graphic);
			svgElement.forceRedraw();
			
			return null;
		});
	}
	
	function prepareBasicGraphic(id, orderType) {
		var sourceName =
			$("#" + id + " .@GameScreenController.PRESENTATION_NAME").text();
		var basicTargetName =
			$("#" + id + " .@GameScreenController.TARGET_SELECT").
			map(function (idx, selectElement) {
				return selectElement.options[selectElement.selectedIndex];
			}).text();
		
		var graphicOption = null;
		
		switch(orderType) {
		case "@OrderType.MOVE": {
			graphicOption = 
				getLineOption(sourceName, basicTargetName, "strokefrance");
			break;
		}
		case "@OrderType.SUPPORT_HOLD": {
			graphicOption =
				getSupportOrderOption(sourceName, 
						basicTargetName, "strokefrance");
			break;
		}
		}
		
		graphicOption.map(function(graphic) {
			var svgElement = document.getElementsByTagName("svg")[0];
			graphic.setAttribute("class", "orderDrawing-" + id);
			svgElement.getElementById("OrderLayer").appendChild(graphic);
			svgElement.forceRedraw();
			
			return null;
		});
	}
	
	function createAdvancedOrder(id, orders, 
			firstLocationSelector,
			secondLocationSelector, 
			orderType) {
		var advancedOrdersForId = getAdvancedOrdersForId(id, orders);
		var advancedHeading = getAdvancedHeading(id);
		
		var uniqueSourceOrders = getUniqueSourceOrders(advancedOrdersForId);
		var sourceOptionElements = 
			getSourceOptionElements(id, 
				uniqueSourceOrders, advancedOrdersForId);
		
		var firstSelectElement = document.createElement("select");
		firstSelectElement.className = "@GameScreenController.SUPPORT_SELECT";
		firstSelectElement.setAttribute("name", 
				"@MovementPhaseOrderHandler.SOURCE_PREFIX" + id)
		sourceOptionElements.forEach(function(optionElement) {
			firstSelectElement.appendChild(optionElement);
		});
		
		$(firstLocationSelector).append(firstSelectElement);
		
		var selectedOption =
			firstSelectElement.options[firstSelectElement.selectedIndex];
		
		var targets = advancedOrdersForId.filter(function(elem) {
			return elem.@GameScreenController.SUPPORT_LOCATION_ID ===
				selectedOption.value;
		});
		
		var targetOptionElements = getTargetOptionElements(targets);
		var secondSelectElement = document.createElement("select");
		secondSelectElement.className = "@GameScreenController.TARGET_SELECT";
		secondSelectElement.setAttribute("name",
				"@MovementPhaseOrderHandler.TARGET_PREFIX" + id);
		targetOptionElements.forEach(function(elem) {
			secondSelectElement.appendChild(elem);
		});
		$(secondLocationSelector).append(secondSelectElement);
		
		
		$(firstSelectElement).change(function() {
			$(".orderDrawing-" +id).remove();
			
			var value = this.value;
			$(secondLocationSelector).empty();
			
			var targets = advancedOrdersForId.filter(function(elem) {
				return elem.@GameScreenController.SUPPORT_LOCATION_ID === value;
			});
			
			var targetOptionElements = getTargetOptionElements(targets);
			var secondSelectElement = document.createElement("select");
			secondSelectElement.className = "@GameScreenController.TARGET_SELECT";
			secondSelectElement.setAttribute("name", 
					"@MovementPhaseOrderHandler.TARGET_PREFIX" + id);
			targetOptionElements.forEach(function(elem) {
				secondSelectElement.appendChild(elem);
			});
			
			$(secondLocationSelector).append(secondSelectElement);
			
			prepareAdvancedGraphic(id, orderType);
			
			$(secondSelectElement).change(function() {
				$(".orderDrawing-" +id).remove();
				
				prepareAdvancedGraphic(id, orderType);
			});
		});
		
		$("#" + id).before(getAdvancedHeading(id));
		prepareAdvancedGraphic(id, orderType);
	}
	
	function getUniqueSourceOrders(advancedOrders) {
		return advancedOrders.reduce(function(list, order) {
			var doesExist = list.some(function(uniqueOrder) {
				return order.@GameScreenController.SUPPORT_LOCATION_ID === 
					uniqueOrder.@GameScreenController.SUPPORT_LOCATION_ID;
			});
			
			if (!doesExist) {
				list.push(order);
			}
			
			return list;
		}, []);
	}
	
	function getSourceOptionElements(id, 
			advancedOrdersForSource, allOrdersForId) {
		return advancedOrdersForSource.map(function(order) {
			var optionElement = document.createElement("option");
			optionElement.textContent = 
				order.@GameScreenController.SUPPORT_PRESENTATION_NAME;
			optionElement.setAttribute("value", 
					order.@GameScreenController.SUPPORT_LOCATION_ID);
			
			return optionElement;
		});
	}
	
	function getTargetOptionElements(targetList) {
		return targetList.map(function(target) {
			var optionElement = document.createElement("option");
			optionElement.textContent = 
				target.@GameScreenController.TARGET_PRESENTATION_NAME;
			optionElement.setAttribute("value", 
					target.@GameScreenController.TARGET_LOCATION_ID);
		
			return optionElement;
		})
	}
	
	function transformBasicOrdersIntoElements(orders) {
		return orders.map(function(order) {
			var option = document.createElement("option");
			option.textContent = order.@GameScreenController.PRESENTATION_NAME;
			option.setAttribute("value", order.@GameScreenController.LOCATION_ID);
		
			return option;
		});
	}
	
	$(document).ready(function() {
		$(".@GameScreenController.UNIT_ORDER").change(function() {
			var tableRow = this.parentElement.parentElement;
			var id = this.parentElement.parentElement.id;
			var idSelector = "#" + id;
			var firstLocationSelector = idSelector + 
				" .@GameScreenController.FIRST_LOCATION";
			var secondLocationSelector = idSelector + 
				" .@GameScreenController.SECOND_LOCATION";
			
			$(firstLocationSelector).empty();
			$(secondLocationSelector).empty();
			removeHeading(id);
			
			$(".orderDrawing-" +id).remove();
			var orderType = $(this).val();
			
			switch(orderType) {
				case "@OrderType.HOLD": {
					break;
				}
				case "@OrderType.MOVE": {
					createBasicOrder(id, 
							getPotentialMoveOrders(), 
							firstLocationSelector,
							orderType);
					break;
				}
				case "@OrderType.SUPPORT_HOLD": {
					createBasicOrder(id, 
						getPotentialSupportHoldOrders(), 
						firstLocationSelector,
						orderType);
					break;
				}
				case "@OrderType.SUPPORT_MOVE": {
					createAdvancedOrder(id, getPotentialSupportMoveOrders(),
						firstLocationSelector, secondLocationSelector,
						orderType)
					break;
				}
				case "@OrderType.CONVOY": {
					createAdvancedOrder(id, getPotentialConvoyOrders(),
							firstLocationSelector, secondLocationSelector,
							orderType);
					break;
				}
			}
			
			
		});
		
		
		
	});
</script>
}