@(diplomacyUnits: List[Tuple2[String, String]],
	moveOrdersMap: List[Tuple2[String, List[String]]],
	supportHoldsMap: List[Tuple2[String, List[String]]],
	supportMovesMap: List[(String, List[(String, List[String])])],
	convoysMap: List[(String, List[(String, List[String])])],
	fleetOrders: List[scala.xml.Elem], 
	armyOrders: List[scala.xml.Elem])
@import com.squeryl.jdip.tables.OrderType
@import com.squeryl.jdip.tables.UnitType
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
	"http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:svg="http://www.w3.org/2000/svg" 
      xmlns:xlink="http://www.w3.org/1999/xlink">
<body>
<div id="orders" style="visibility: hidden; display: none;">
	<div class="moveOrders">
		@moveOrdersMap.map { moveOrder =>
			<ul class="@moveOrder._1">
			@defining(moveOrder._2) { moveDestinations =>
				@moveDestinations.map { moveDestination =>
				<li>@moveDestination</li>
				}
			}
			</ul>
		}
	</div>
	<div class="supportHoldOrders">
		@supportHoldsMap.map { supportHold =>
			<ul class="@supportHold._1">
			@defining(supportHold._2) { supportDestinations =>
				@supportDestinations.map { supportDestination =>
				<li>@supportDestination</li>
				}
			}
			</ul>
		}
	</div>
	<div class="supportMoveOrders">
		@supportMovesMap.map { supportMove =>
			<ul class="@supportMove._1">
			@defining(supportMove._2) { moveDestinationsForUnits =>
				@moveDestinationsForUnits.map { moveDestinationForUnit =>
					<li>
						<ul class="@moveDestinationForUnit._1">
							@defining(moveDestinationForUnit._2) { moves =>
								@moves.map { move =>
									<li>@move</li>
								}
							}
						</ul>
					</li>
				}
			}
			</ul>
		}
	</div>
	<div class="convoyOrders">
		@convoysMap.map { convoy =>
			<ul class="@convoy._1">
			@defining(convoy._2) { moveDestinationsForUnits =>
				@moveDestinationsForUnits.map { moveDestinationForUnit =>
					<li>
						<ul class="@moveDestinationForUnit._1">
							@defining(moveDestinationForUnit._2) { moves =>
								@moves.map { move =>
									<li>@move</li>
								}
							}
						</ul>
					</li>	
				}
			}
			</ul>
		}
	</div>
</div>
<table>
	<thead>
		<tr>
			<td>Unit Type</td>
			<td>Unit Location</td>
			<td>Action</td>
			<td>Target Location</td>
			<td>Source Location</td>
		</tr>
	</thead>
	@diplomacyUnits.map {diplomacyUnit =>
		<tr id="@diplomacyUnit._2">
			<td>@diplomacyUnit._1</td>
			<td>@diplomacyUnit._2</td>
			<td><select class="orderSelect">
				@defining(diplomacyUnit._1) { unitType =>
					@unitType match { 
						case com.squeryl.jdip.tables.UnitType.ARMY =>  { @armyOrders }
						case com.squeryl.jdip.tables.UnitType.FLEET => { @fleetOrders }
					}
				}
				</select></td>
			<td class="targetLocation"></td>
			<td class="sourceLocation"></td>
		</tr>
	}
</table>
</body>
<script type="text/javascript" src="/public/javascripts/jquery-1.5.1.js">
</script>
<script type="text/javascript">
	function wrapTextInSelect(text) {
		return "<select>" + text + "</select>";
	}
	
	function wrapTextInOption(text) {
		return "<option>" + text + "</option>";
	}

	$(document).ready(function() {
		$(".orderSelect").change(function() {
			var id = this.parentElement.parentElement.id;
			var idSelector = "#" + id;
			var targetLocationSelector = idSelector + " .targetLocation";
			var sourceLocationSelector = idSelector + " .sourceLocation";
			
			$(targetLocationSelector).empty();
			$(sourceLocationSelector).empty();
			
			var moveOrdersSelector = ".moveOrders ul." + id;
			var supportHoldOrdersSelector = ".supportHoldOrders ul." + id;
			var supportMoveOrdersSelector = ".supportMoveOrders ul." + id + " ul";
			var convoyOrdersSelector = ".convoyOrders ul." + id + " ul";
			
			switch($(this).val()) {
				case "Hold": {
					break;
				}
				case "Move": {
					var children = $(moveOrdersSelector).children();
					var optionElements = children.map(function() {
						return wrapTextInOption(this.textContent);
					}).get().join("");
					var selectElement = wrapTextInSelect(optionElements);
					$(targetLocationSelector).html(selectElement);
					break;
				}
				case "Support Hold": {
					var children = $(supportHoldOrdersSelector).children();
					var optionElements = children.map(function() {
						return wrapTextInOption(this.textContent);
					}).get().join("");
					var selectElement = wrapTextInSelect(optionElements);
					$(targetLocationSelector).html(selectElement);
					break;
				}
				case "Support Move": {
					var childLists = $(supportMoveOrdersSelector);
					var optionElements = childLists.map(function() {
						return wrapTextInOption(this.className);
					}).get().join("");
					var selectElement = wrapTextInSelect(optionElements);
					$(sourceLocationSelector).html(selectElement);
					$(sourceLocationSelector + " select").change(function() {
						var value = $(this).val();
						
						var targetListItemsSelector =
							".supportMoveOrders ul." + id + " ul." + value + " li";
						var selectedItem = $(targetListItemsSelector);
						var optionElements = $(targetListItemsSelector).map(function() {
							return wrapTextInOption(this.textContent);
						}).get().join("");
						
						var selectElement = wrapTextInSelect(optionElements);
						$(targetLocationSelector).html(selectElement);
					});
					break;
				}
				case "Convoy": {
					var childLists = $(convoyOrdersSelector);
					var optionElements = childLists.map(function() {
						return "<option>" + this.className + "</option>";
					}).get().join("");
					var selectElement = "<select>" + optionElements + "</selct"
					
					break;
				}
			}
			
			
		});
	});
</script>
</html>
