@(diplomacyUnits: Iterable[Tuple2[String, String]],
  moveOrdersMap: Iterable[Tuple2[String, Iterable[String]]], 
	fleetActions: Iterable[com.squeryl.jdip.tables.OrderTypeUnitType], 
	armyActions: Iterable[com.squeryl.jdip.tables.OrderTypeUnitType])
@import com.squeryl.jdip.tables.OrderType
@import com.squeryl.jdip.tables.UnitType

<span id="orders" visibility="collapse">
	<span class="moveOrders">
		@moveOrdersMap.map { moveOrder =>
		<select class="@moveOrder._1">
			@defining(moveOrder._2) { moveDestinations =>
				@moveDestionation.map { moveDestination =>
				<option class="@moveDestin">

					</option>
				}
			}
			</select>
		}
	</span>	
		@diplomacyUnits.map { diplomacyUnit => 
			<span id="@diplomacyUnit._2">
							<span class="@OrderType.MOVE"></span>
							<span class="@OrderType.SUPPORT_MOVE"></span>
							<span class="@OrderType.SUPPORT_HOLD"></span>
							@if(diplomacyUnit._1.equals(UnitType.FLEET)) {
								<span class="@OrderType.CONVOY"></span>
							}
			</span>
		}
	</span>	
<table>
	<thead>
		<tr>
			<td>Unit Type</td>
			<td>Unit Location</td>
			<td>Action</td>
			<td>Target Location</td>
			<td>Source Location</td>
		</tr>
	</thead>
	@diplomacyUnits.map {diplomacyUnit =>
		<tr>
			<td>@diplomacyUnit._1</td>
			<td>@diplomacyUnit._2</td>
			<td><select>
				@defining(diplomacyUnit._1) { unitType =>
					@unitType match { 
						case com.squeryl.jdip.tables.UnitType.ARMY => { 
							@armyActions.map { armyAction => <option>@armyAction.orderType</option>}
						} 
						case com.squeryl.jdip.tables.UnitType.FLEET => {
							@fleetActions.map {fleetAction => <option>@fleetAction.orderType</option>}
						}
					}
				}
				</select></td>
			<td>Target Location</td>
			<td>Source Location</td>
		</tr>
	}
</table>
