#{extends 'main.html' /}
#{set title:'Login Page' /}

<form action="login_credentials" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" /><br />
    <label for="password">Password:</label>
    <input type="password" name="password" /><br />
    <input type="submit" />
</form><br />

<form action="emailTester" method="post">
    <label for="emailAddress">Email Address:</label>
    <input type="text" name="emailAddress" /><br />
    <label for="testMessage">Test message</label>
    <input type="text" name="testMessage" /><br />
    <input type="submit" />
</form>