@import controllers.UnitTypes
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <title>Hello</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/reset.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/units.css" />
    </head>
    <body>
        <div class="main_frame">
            <div class="window">

            </div>
            <div class="orders">
                <table>
                    <thead>
                        <tr>
                            <td>Unit Type</td>
                            <td>Unit Location</td>
                            <td>Order</td>
                            <td>Source Location</td>
                            <td>Target Location</td>
                            <td>Validate</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@UnitTypes.armyType</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>@UnitTypes.armyType</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>@UnitTypes.armyType</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>