#{extends 'main.html' /}
#{set title:'Front Screen' /}
#{set dollarSign:'$' /}

#{set 'moreScripts'}
    <script id="unitListTemplate"
            type="text/x-jquery-tmpl" charset="utf-8">
        <div id="#{get 'dollarSign' /}{provinceName}">
            #{get 'dollarSign' /}{unitType}
            #{get 'dollarSign' /}{provinceName}
            <select name="#{get 'dollarSign' /}{provinceName}">
                <option value="Move">Move</option>
                <option value="Hold">Hold</option>
                <option value="SupportHold">Support Hold</option>
                <option value="SupportMove">Support Move</option>
                {{if unitType == "F"}}
                    <option value="Convoy">Convoy</option>
                {{/if}}
            </select>
            <select class="fromLocation"></select>
            <select class="toLocation"></select>
        </div>
    </script>
    <script id="fromLocationTemplate"
            type="text/x-jquery-tmpl" charset="utf-8">
        <option>#{get 'dollarSign' /}{srcName}</option>
    </script>
    <script id="toLocationTemplate"
            type="text/x-jquery-tmpl" charset="utf-8">
        <option>#{get 'dollarSign' /}{dstName}</option>
    </script>
    <script id="messageLogTemplate"
            type="text/x-jquery-tmpl" charset="utf-8">
        <i>#{get 'dollarSign' /}{date}</i> <b>#{get 'dollarSign' /}{sender}</b>:
            #{get 'dollarSign' /}{msgLog}
    </script>
    <script type="text/javascript">
        var units = ${units};
        var unitCommands = ${unitCommands};
        $(document).ready(function() {
            $("#unitListTemplate").tmpl(units).appendTo("#unitList");
            $(units).each(function(index, element) {
                var unitType = element.unitType;
                var provinceName = element.provinceName;
                var fromLocationSelector = "#" + provinceName + " .fromLocation";
                var toLocationSelector = "#" + provinceName + " .toLocation";
                var filteredUnitCommands = $(unitCommands).filter(function (index) {
                    return this.unitType == unitType &&
                            this.provinceName == provinceName;
                });
                var selectOrderString = "select[name='" + provinceName + "']";
                var properFilterFunction = function (orderCommand) {
                        // handling both src province names with that have the specified order
                        // and removing duplicates from the list.
                        var unitCommandsByOrderType = $(filteredUnitCommands).filter(function (index) {
                           return this.orderType == orderCommand;
                        }).filter;

                        $(fromLocationSelector).empty();
                        var filteredSrcNameOptions = orderCommand == "SupportHold" ||
                            orderCommand == "Move" ? "<option>" + provinceName + "</option>" :
                            $(unitCommandsByOrderType).map(function(index, element) {
                                return "<option>" + element.srcName + "</option>";
                            });
                        $(filteredSrcNameOptions).appendTo(fromLocationSelector);
                        if (orderCommand == "Move" || orderCommand == "SupportHold") {
                            $(fromLocationSelector).attr("disabled", "disabled");
                        } else {
                            $(fromLocationSelector).removeAttr("disabled");
                        }

                        var toLocationSetupFunction = function(srcName) {
                            $(toLocationSelector).empty();
                            var unitCommandsBySrcName = $(unitCommandsByOrderType).filter(function (index) {
                                return this.srcName == srcName;
                            });
                            $(unitCommandsBySrcName).map(function(index, element) {
                                return "<option>" + element.dstName + "</option>";
                            }).appendTo(toLocationSelector);
                        };
                        $(fromLocationSelector).change(function() {
                           var srcName = $(fromLocationSelector).val();
                           toLocationSetupFunction(srcName);
                        });
                        toLocationSetupFunction($(fromLocationSelector).val());
                    };

                $(selectOrderString).change(function () {
                    var selectedCommand = $(selectOrderString).val();
                    properFilterFunction(selectedCommand);
                });

                properFilterFunction("Move");
            });


        });

        function getMessagesFromServer() {
            
        }

        function retrieveMessagesFromServer(data) {
            $("#unitListTemplate").tmpl(units).appendTo("#message_box");
        }
    </script>

#{/set}
<div class="game_container">
    <div class="chat_control_box">
        <center>
            <div>
                <input type="button" value="ALL" />
                <input type="button" value="AUS" />
                <input type="button" value="ENG" />
                <input type="button" value="FRA" />
                <input type="button" value="GER" />
                <input type="button" value="ITA" />
                <input type="button" value="RUS" />
                <input type="button" value="TUR" />
            </div>
        </center><br />
        <textarea readonly="readonly" class="message_box">
        </textarea><br />
    </div><br />
    <div class="game_map"></div>
    <div class="unit_control_box">
        <b>Unit Type</b> <b>Province</b> <b>Command</b> <b>Source</b> <b>Destination</b><br />
        <div id="unitList" />
    </div>
</div>
