@(authenticate: String, 
	loginForm: Form[(String, String)],
	errorMessage: String = "")
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Login screen</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style>
        	form {
        		position: absolute;
        		width: 20%;
        		left: 40%;
        		top: 40%;
        		background: #70e3fc;
        		border-radius: 5px;
        		padding: 10px;
        	}
        	
        	body {
        		background-image: -webkit-linear-gradient(left, #3d3d3d 0%, #70B4EF 100%)
        	}
        	
        	
        	div.loginContainer {
        		position: relative
        	}

	
        </style>
    </head>
    <body>
    	@helper.form(action = routes.Authentication.authenticate) {
    		@helper.inputText(loginForm(play.api.mvc.Security.username))
    		@helper.inputPassword(loginForm(controllers.Authentication.PASSWORD))
    		<input type="submit" value="Submit" />
    	}
        <p>
            @errorMessage
        </p>
    </body>
</html>
